.order-item {
display: flex;
margin: 22px auto;
max-width: 960px;
}

.order-item__photo{
width: 300px;
margin-right: 30px;
}

.order-item__title {
    font-size: 24px;
    font-weight: bold;
    color: rgb(94, 108, 124);
}

.order-item__price {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
    justify-content: center;
}

.order-item__price-goods {
    bottom: 5px;
}

.cart-item__delete-icon {
    margin-left: 20px;
    margin-top: -3px;
    cursor: pointer;
}