select {
    padding: 8px;
    border: 1px solid #3498db;
    border-radius: 4px;
    margin-left: 8px;
    background-color: #f1f1f1;
    font-size: 14px;
    width: 158px;
    cursor: pointer;
    transition: all 0.001s ease;
}

select:hover {
    border-color: #5e9ec9;
    background-color: #ecf0f1;
}

select:focus {
    outline: none;
    border-color: #79c3f4;
    box-shadow: 0 0 2px rgba(52, 152, 219, 0.7);
}

option {
    font-size: 14px;
}

option:checked {
    color: rgb(106, 106, 106);
}
